<!doctype html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Список транспортных средств</title>
    </head>
    <body>
        <h1>Транспортные средства</h1>
        <a href="{{ url_for('add_vehicle') }}">Добавить транспортное средство</a>
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    ID: {{ vehicle.id }}, Марка: {{ vehicle.brand }}, Модель: {{ vehicle.model }},
                    {% if vehicle.num_doors is not None %}
                        Количество дверей: {{ vehicle.num_doors }}
                    {% else %}
                        Боковой прицеп: {{ vehicle.has_sidecar }}
                    {% endif %}
                    <a href="{{ url_for('edit_vehicle', vehicle_id=vehicle.id) }}">Редактировать</a>
                </li>
            {% endfor %}
        </ul>
    </body>
    </html>